# Node Modules
node_modules/

# Temp Downloads
temp_downloads/

# Environment Variables
.env

# Ruijie Session Cookies
data/cookies/*.json

# IDEs & OS Files
.vscode/
.idea/
.DS_Store
*.swp

# Log Files
*.log

scratch/
data/chrome_profiles/
