# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Ruijie Session Cookies
ruijie_cookies.json
ruijie_cookies_pppoe.json

# IDEs & OS Files
.vscode/
.idea/
.DS_Store
*.swp

# Log Files
*.log
